<div>
  <h1>{{ 'demo.title' | translate }}</h1>

  <!-- translation: translation pipe -->
  <p>{{ 'demo.text' | translate }}</p>

  <!-- translation: directive (key as attribute)-->
  <p [translate]="'demo.text'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>demo.text</p>

  <h3>Pluralization</h3>
  <ul>
    <li translate="" [translateParams]="{ count: 1 }">icu.pluralization</li>
    <li>{{'icu.pluralization' | translate:{ 'count': 2 } }}</li>
  </ul>

</div>

<!-- Selecciona el idioma -->
<button (click)="useLanguage('en')">English</button>
<button (click)="useLanguage('gr')">Greek</button>

<div>
  <h1>Intl Phone Input</h1>

  <form [formGroup]="phoneForm">

    <div class="form-group">

      <lac-mat-country-selector
        matPrefix
        [preferredCountries]="['gr', 'es', 'pt']"
        [showDialCode]="true"
        [disableSearch]="false"
        [selectorFor]="inputPhone"
      ></lac-mat-country-selector>

      <lac-mat-tel-input
        #inputPhone
        formControlName="phone"
      ></lac-mat-tel-input>

    </div>

    <div>
      <strong>Form value:</strong>
      <pre>{{ phoneForm.value | json }}</pre>
    </div>

  </form>
</div>



